
<br><br><br>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
         <%= @park.name %><br>
     <span class="text-muted">
        <%= @park.location %>
     </span></h2>
        <p class="lead">
        <%= @park.description %>
        </p>
      </div>
     
      <div class="col-md-5">
         <%= image_tag("#{@picture}.jpg") %> <br><br>
          <a class="btn btn-secondary" href="#" role="button"><%= link_to "Add Comment", new_park_comment_path(@park) %></a>
      </div>
    </div>