<div class="text-center">
<h1 class="display-1">ADD A NEW PUP</h1><br>
      <img class="img-fluid img-thumbnail" width="40% \9;" alt="Responsive image" src="https://cdn.dribbble.com/users/502620/screenshots/5397310/doggo_3d.gif" />


<%= form_with model: @dog do |f|%>
<label>Name: </label><br>
<%= f.text_field :name %><br>


<label>Bio: </label><br>
<%= f.text_area :bio %><br>

<label>Image: </label><br>
<%= f.file_field :avatar %><br>
<%= f.submit %>
<% end %>
</div>
</div>