<div class="text-center">
<img class="img-fluid img-thumbnail" width="20% \9;" alt="Responsive image" src="https://cdn.dribbble.com/users/6051/screenshots/7779269/media/3e92a3efe674d3348c7ddc8b76fca084.png" />
<br>
<h1>Create a Hooman Account</h1>

<%= form_with model: @user do |f|%>
<label>Name: </label><br>
<%= f.text_field :name %><br>
<label>Email: </label><br>
<%= f.text_field :email %><br>
<label>Password: </label><br>
<%= f.password_field :password %><br>

<%= f.submit %>
<% end %>
</div>
