<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="navbar navbar-default">
    <div class="container">
      
      <div class="navbar-header">
        <%= link_to "Best Dog Parks In Austin", parks_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-bar">
        Logged in as <%= @current_user.name %>  
        <li><%= link_to "Sign Up", new_user_path %></li>
      <%# if user_signed_in? %>
      <%#= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <%# else %>
      <%#= link_to "Log In", new_user_session_path, %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
